{% extends "demo/leave.html" %}

{% block title %}All leaves{% endblock title %}

{% block content %}
<h1>Leave Details</h1>

<table class="leave">
  <tr><td>ID:</td><td>{{ leave.id }}</td></tr>
  <tr><td>Name:</td><td>{{ leave.name }}</td></tr>
  <tr><td>Start of leave:</td><td>{{ leave.leavestart }}</td></tr>
  <tr><td>End of leave:</td><td>{{ leave.leaveend }}</td></tr>
  <tr><td>Reason:</td><td>{{ leave.reason }}</td></tr>
  <tr><td>Availibility:</td><td>{{ leave.availibilty }}</td></tr>
  <tr><td>Approval:</td><td>{{ leave.approval|default:'pending' }}</td></tr> 
</table>
<form method="POST">
  <button type="submit" name="approve">Approve</button>
  {% csrf_token %}
</form>
<form method="POST">
  <button type="submit" name="unapprove">Unapprove</button>
  {% csrf_token %}
</form>
<p><a href="../show">See All Leaves</a></p>

{% endblock content %}